@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
// @import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
input[type="button"] {
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    opacity: 0.6;
  }
}
input {
  &:disabled {
    background-color: $gray3;
    border: 1px solid $gray3;
  }
}
button {
  padding: 0;
  outline: none;
  cursor: pointer;
  border: 1px solid $gray4;
  border-radius: 4px;
  color: $gray9;
  background-color: transparent;
  padding: 6px 20px;
  font-size: 14px;
  line-height: 1.25;
  &.icon {
    color: $main500a;
    border: none;
    width: 40px;
    height: 40px;
    padding: 0;
    i {
      font-size: 20px;
    }
    &:hover {
      background-color: $main100a;
    }
    &:active {
      background-color: $main100;
    }
  }
  &.no-border {
    border: none;
  }
  &:hover {
    color: $main500;
    border-color: $main200;
  }
  &:active {
    border-color: $main300;
  }
  &.colored {
    background-color: $main100;
    color: $main500;
    border-color: $main300;
    &:hover {
      background-color: $main100a;
    }
    &:active {
      background-color: $main300;
    }
    &:disabled,
    &.disabled {
      background-color: $main100;
      color: $main300;
      border: none;
      pointer-events: none;
      user-select: none;
    }
  }
  &.danger {
    background-color: $danger200;
    color: $danger700;
    border-color: $danger300;
    &:hover {
      background-color: $danger100;
    }
    &:active {
      background-color: $danger300;
    }
  }
}
.percentage-block {
  text-align: center;
  color: $gray7;
  border-radius: 50px;
  font-size: 14px;
  width: 70px;
  border: 1px solid $gray4;
}
input {
  display: block;
  width: 100%;
  height: 32px;
  border: 1px solid #d1d2d4;
  border-radius: 4px;
  outline: none;
  padding: 0 6px;
  font-size: 14px;
  &[type="checkbox"] {
    width: 0;
    height: 0;
  }
}
.btn-close {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #8f9195;
  font-size: 18px;
  i {
  }
}
.btn-st1 {
  position: relative;
  cursor: pointer;
  font-size: 16px;
  line-height: 19px;
  width: 100%;
  background-color: $main500a;
  color: #ffffff;
  border: 1px solid white;
  padding: 0.5em 1em;
  // border-radius: 10px;
  border-radius: 4px;
  margin: 0.5em 0;
  outline: none;
  height: 42px;
  &:hover {
    background-color: $main500a;
    color: white;
  }
  .icon {
    position: absolute;
    width: 28px;
    left: 20px;
    top: 5px;
  }
  &.disable {
    background: $gray3;
    pointer-events: none;
    user-select: none;
    color: $gray7;
  }
}
.list-text {
  line-height: 30px;
}
.label-tag {
  color: $main500;
  background-color: $main100;
  padding: 0.25em 0.5em;
  font-size: 12px;
  border-radius: 4px;
  margin-right: 6px;
}
.shadowed {
  box-shadow: 0 0 5px rgba(11, 16, 24, 0.15);
}
.heading-lists {
  display: flex;
  font-size: 14px;
  color: #373b42;
  justify-content: flex-end;
  background-color: #f1f2f3;
  li {
    min-width: 60px;
    text-align: right;
    line-height: 38px;
    padding: 0 14px;
    position: relative;
    cursor: pointer;
    user-select: none;
    &:first-child {
      min-width: 0;
      text-align: left;
      // flex-grow: 1;
    }
    &.title {
      flex-grow: 1;
    }
  }
}

.nested-menu {
  height: 100%;
  overflow: auto;
  .icon.text {
    width: 24px;
    height: 24px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $gray5;
    background-color: $gray2;
    border-radius: 4px;
    user-select: none;
    margin-right: 5px;
  }
  .title {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 4px;
  }
  .sub-list {
    > div {
      &:hover {
        .title {
          color: $main500;
          background-color: $main100a;
        }
      }
    }
  }
  .sub-list.active,
  .active {
    > div {
      > .icon.text {
        // background-color: $main100;
        // color: $main500;
      }
      > .title {
        background-color: $main100;
        color: $main500;
      }
    }
  }
  .expand-icon {
    font-size: 15px;
    &.plus {
      position: absolute;
      left: -20px;
    }
  }
}
[class*="-dropdown"] {
  position: absolute;
  top: 100%;
  right: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #58dadc;
  z-index: 99;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  .menu {
    li {
      justify-content: flex-start;
      i {
        margin-right: 10px;
      }
    }
  }
}
#sidebar {
  position: sticky;
  top: 0;
  background-color: $main500;
  color: #fff;
  height: 100vh;
  transition: width 0.25s ease, margin 0.25s ease-in-out;
  width: 240px;
  flex-shrink: 0;
  font-size: 13px;
  overflow: visible;
  .settings {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .nested-menu {
    height: 100%;
    overflow: visible;
  }
  .nested-lists-container {
    height: auto;
    overflow: visible;
    padding-bottom: 40px;
  }
  ul {
    li {
      min-height: 32px;
      // display: flex;
      // align-items: center;
      width: 100%;
      transition: all 0.1s;
      overflow: hidden;

      .list-content {
        border: none;
      }
      &.expanded {
        .expand-icon {
          i {
            transform: rotate(-180deg);
          }
        }
      }
      &.setting {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
      }
      > ul {
        overflow: hidden;
        transition: all 0.25s;
        &.contracted {
          height: 0 !important;
          overflow: hidden;
        }
        &.active {
          * {
            font-size: 24px;
          }
        }
      }
      &:hover {
        background-color: $main600;
        > .list-content-container > .list-content > .icon {
          margin-right: 1px;
        }
        .icon {
        }
        .list-content-container {
          background-color: #005b79;
          color: #ffffff;
        }
      }
      &.active {
        background-color: $main600;
        font-weight: 500;
        &.sub-list {
          .check {
            opacity: 1;
          }
        }
        > .list-content-container > .list-content {
          > .check {
            opacity: 0.8;
          }
          > .icon {
            margin-right: 1px;
          }
        }
      }
      .check {
        opacity: 0;
        display: flex;
        pointer-events: none;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 200px;
        top: 0;
        width: 40px;
        height: 100%;
        // opacity: 0.8;
        color: $main300;
        i {
          transition: all 0.25s;
        }
      }
      a {
        position: relative;
        display: flex;
        align-items: center;
        color: #ffffff;
        font-size: 14px;
        text-decoration: none;
        white-space: nowrap;
        .icon {
          display: flex;
          width: 50px;
          justify-content: center;
          align-items: center;
          flex-shrink: 0;
          transition: width 0.25s;
        }
      }
    }
  }
  .role {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    p {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      color: $main500;
      background-color: $main100;
      border-radius: 5px;
      font-weight: 500;
      user-select: none;
    }
  }
  a {
    h3 {
      transition: opacity 0.1s;
    }
  }
  &.mini-sidebar {
    ul {
      li {
        .icon {
          width: 60px;
        }
        &:hover {
          width: 240px;
          li {
            width: 240px;
          }
        }
        a {
          .icon {
            width: 60px;
          }
        }
      }
    }
  }
}
.device-management-toolboxs {
  padding: 10px 0px;
  justify-content: space-around;
  li {
    color: $gray7;
    font-size: 1rem;

    &.active {
      color: $main500a;
    }
    &:hover {
      color: $main500a;
    }

    a {
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.device-management-tabs {
  // margin-bottom: 20px;
  li {
    color: #0092b0;
    border: 1px solid $main300;
    height: 32px;
    padding: 0 30px;
    margin-left: -1px;
    cursor: pointer;
    transition: all 0.25s;
    &:first-child {
      margin-left: 0;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    &:hover {
      background-color: $main100a;
    }
    &.active {
      background-color: #c7f9f2;
      font-weight: bold;
    }
  }
}
.license-data {
  display: flex;
}
.device-data,
.license-data {
  padding: 0 24px 24px 24px;
  width: 100%;

  .q-table__container {
    max-height: calc(100vh - 374px);
    margin-bottom: 14px;
    @media (max-height: 800px) {
      max-height: 440px;
    }
  }
  aside {
    max-width: 319px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    border-right: 1px solid $gray4;
    margin-left: -24px;
    margin-right: 24px;
    // margin-bottom: 24px;

    padding-left: 24px;
    padding-right: 24px;
    height: calc(100vh - 276px);
    @media (max-height: 800px) {
      height: auto;
      min-height: 524px;
    }
    .note {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
    }
    .side-lists {
      margin-left: -24px;
      margin-right: -24px;
      li {
        height: 42px;
        padding: 0 24px;
        height: 42px;
      }
    }
  }
  .in-use,
  .inventory {
    position: relative;
    display: flex;

    .no-data {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      color: $gray5;
      flex-grow: 1;
      i {
        font-size: 80px;
        color: $gray3;
      }
    }
    main {
    }
  }
}
.no-map {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: $gray5;
  background-color: $gray1;
  height: 100%;
  i {
    color: $gray3;
    font-size: 48px;
    margin-bottom: 10px;
  }
}
.role-label {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background-color: $gray2;
  border-radius: 4px;
  color: $gray5;
  &.active {
    background-color: $main100;
    color: $main500;
  }
}
.custom-input.custom-input-component {
  &.address {
    > textarea {
      height: 88px;
    }
  }
  textarea {
    outline: none;
    resize: none;
  }
  input,
  textarea {
    font-size: 14px;
    // font-weight: bold;
    padding: 0.5em 0.75em 0.5em 0.75em;
    // background-color: rgba(255, 255, 255, 0.6);
    background-color: $gray1;
    border-radius: 5px;
    // color: $main500;
    color: $gray11;
    // border: 1px solid $main300;
    border: 1px solid $gray5;
    height: 44px;
    &::placeholder {
      color: $gray4;
    }
  }
}
.custom-select {
  position: relative;
  .color-block {
    display: block;
    width: 30px;
    height: 14px;
    border: 1px solid #ffffff;
    margin-right: 8px;
  }
  .title {
    position: relative;
    font-size: 14px;
    // font-weight: bold;
    padding: 0.5em 0.75em 0.5em 0.75em;
    // background-color: rgba(255, 255, 255, 0.6);
    background-color: $gray1;
    border-radius: 5px;
    color: $main500;
    // border: 1px solid $main300;
    border: 1px solid $gray5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // height: 32px;
    height: 44px;
    cursor: pointer;
    user-select: none;
    i {
      margin-left: 5px;
    }
    .title-text {
      display: flex;
      align-items: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .options {
    position: fixed;
    z-index: 9;
    background-color: #fff;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.25);
    border: 1px solid $main300;
    border-radius: 5px;
    .options-wrapper {
      overflow: auto;
      outline: none;
    }

    ul {
      outline: none;
      li {
        margin: 0;
        padding: 0;
        .option-content {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          user-select: none;
          padding: 0.5em 1em;
          width: 100%;
          white-space: nowrap;
          &.hover {
            background-color: $main100a;
            color: $main500;
          }
          &.active {
            background-color: $main100;
            color: $main500;
          }
        }
      }
    }
    .grouped-options .option-content {
      padding-left: 1.5em;
    }
  }

  &:disabled,
  &.disabled {
    pointer-events: none;
    user-select: none;
    h4 {
      opacity: 0.5;
      background-color: $gray4;
      border: none;
      cursor: not-allowed;
    }
  }
}
.no-data {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  color: $gray5;
  i {
    font-size: 80px;
    margin-bottom: 10px;
    color: $gray3;
  }
}
.filters {
  @extend .custom-select;
  > .options {
    > ul {
      display: flex;
      flex-wrap: wrap;
      width: 472px;
      padding: 1em 0.5em;
      overflow: auto;
      max-height: 26em;
      > li {
        display: block;
        width: 50%;
      }
    }
  }
}
.menu {
  flex-grow: 1;
  overflow: auto;
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 12px;
    padding-right: 12px;
    height: 30px;
    font-size: 14px;
    transition: all 0.25s;
    color: $gray11;
    user-select: none;
    cursor: pointer;
    a {
      display: flex;
      align-items: center;
      color: $gray11;
      text-decoration: none;
      width: 100%;
      height: 30px;
    }
    &:hover {
      background-color: $main100a;
      color: $main500;
      a {
        color: $main500;
      }
    }
    &:active,
    &.active {
      background-color: $main200;
      color: $main500;
      font-weight: 500;
      a {
        color: $main500;
      }
    }
  }
}
.sticky-table {
  th.action {
    text-align: right;
    button {
      width: 40px;
      height: 40px;
      font-size: 20px;
      border: none;
    }
  }
  td:first-child {
  }

  th,
  td {
    &:first-child {
      width: 60px;
    }
    &:first-child,
    &:nth-child(2) {
      background-color: #ffffff;
      position: sticky;
      left: 0;
      z-index: 1;
    }
    &:nth-child(2) {
      left: 60px;
      max-width: 240px;
    }
    &:last-child,
    &:last-child {
      background-color: #ffffff;
      position: sticky;
      right: 0;
      z-index: 1;
    }
  }
}
.business-lists {
  .heading-lists {
    li {
      min-width: 100px;
    }
  }
}

.device-infos .heading-lists {
  justify-content: space-between;
  .title {
    max-width: 50%;
  }
}

.content {
  // display: flex;

  main {
    width: 100%;
  }
  .content-container {
    // margin: 20px;
    border-radius: 10px;
    padding: 0;
    display: flex;
    width: 100%;
    background-color: #fff;
  }
}
.overview {
  display: flex;
  flex-direction: column;
  width: calc(100% - 20px);
  // margin: 20px;
  flex-shrink: 0;
  height: calc(50vh - 120px);
  // overflow: auto;
  min-height: 420px;
  min-width: 300px;

  // flex-grow: 1;
}
.overview-title {
  text-shadow: 0px 1.1px 0px rgba(255, 255, 255, 0.85);
  font-size: 18px;
  color: #555555;
  font-weight: 700;
  margin-right: 20px;
  margin-bottom: 12px;
}
.block-content {
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    height: 50px;
    padding-left: 24px;
    padding-right: 24px;
    font-weight: 500;
    flex-shrink: 0;
  }
  &__data {
    flex-grow: 1;
    padding: 0 24px 24px;
    height: calc(100% - 50px);
    overflow: auto;
    &.summary-data {
      overflow: visible;
    }
  }
}
main.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  // padding: 15px;
  max-width: 100%;
  min-height: calc(100vh - 100px);
  background-color: $gray1;
  // padding: 20px;
  > .container {
    .content {
      margin: 0 30px;
      padding-bottom: 10px;
      > * {
        // padding: 20px;
      }
    }
  }
}
.overview__content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  // max-height: calc(50vh - 120px);
  border-radius: 10px;
  background-color: #fff;
  height: 100%;
  overflow: auto;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  &__top {
    margin-top: 5px;
    margin-bottom: 10px;
  }
}
.apexcharts-pie-label {
  fill: white;
  filter: none;
  text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
}

.submit-actions {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
  padding-bottom: 15px;
  // padding-bottom: 15px;
  margin-bottom: 0 !important;
  border-top: 1px solid $gray2;
  button {
    margin-left: 10px;
  }
}
.drawer .submit-actions {
  position: static;
  width: 100%;
  border: none;
}
.alert {
  .submit-actions {
    position: relative;
    left: 0;
    width: 100%;
  }
  .message-text div {
    font-size: 14px;
  }
}

// .device-configuration-component > ul > li:nth-child(1) {
//   .accordion-component .accordion-content > ul > li {
//     &:nth-last-of-type(2) {
//       display: block;

//       div {
//         &:nth-of-type(1) {
//           padding-bottom: 5px;
//         }
//       }
//     }
//   }
// }

.device-infos {
  > div {
    position: relative;
  }
  .mask {
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
  }
  ul {
    .overview {
      width: unset;
      height: unset;
      min-height: unset;
    }

    .overview,
    li[class^="cellular-interface"],
    [class^="cellular-interface"],
    .wireduplink,
    .wiredclients {
      // background: orange;
      .list-r {
        span:not(.to) {
          width: 35px;
          display: inline-block;
          text-align: center;
        }
        span:not(.to) {
          padding: 2px 5px 0px;
          margin: 0 3px;
          border-radius: 3px;
        }
        span:last-child {
          margin-right: 0px;
        }
        .band {
          border-radius: 3px;
          text-align: center;
          // margin: 0 1px;
          // padding: 0 5px;
          position: relative;

          &:not(:last-child) {
            &:after {
              position: absolute;
              content: "+";
              right: -6px;
              // margin: 0 8px;
              // margin: 0 0 0 10px;
            }
          }
        }
        .excellent {
          background: $excellent;
        }
        .good {
          background: $good;
        }
        .fair {
          background: $fair;
        }
        .poor {
          background: $poor;
          color: #fff;
        }
      }
      .list-l {
        .band,
        .rsrp,
        .sinr,
        .rsrq {
          &:before {
            content: "";
            width: 20px;
            height: 10px;
            // background: red;
            display: inline-block;
          }
          i.fal {
            cursor: pointer;
          }
        }
        .band:before {
          width: 10px;
        }
        .rsrp:before {
          width: 8px;
        }
        .sinr:before {
          width: 12px;
        }
        .rsrq:before {
          width: 8px;
        }
      }
    }
  }
}
.periodTime span {
  width: unset;
  color: $gray6;
}
.device-details,
.device-tools {
  > ul > li:last-child > .accordion {
    // background: red;
    border: none;
  }
}
textarea.description {
  width: 100%;
  height: 65px;
  resize: none;
  border-radius: 5px;
  border-color: $gray4;
  padding: 5px;
  outline: none;

  &:hover {
    border-color: $gray5;
    box-shadow: 0 0 10px 1px $gray1;
  }
}
.device-infos {
  .q-item {
    padding: 0;
    font-weight: 500;
    color: $gray11;
  }
  .q-expansion-item__container > .q-item {
    height: 50px;
  }
  .q-expansion-item__content {
    display: block;
    li {
      display: flex;
      justify-content: space-between;
      padding-bottom: 13px;
      font-size: 13px;

      .list-l {
        color: $gray7;
      }
      .list-r {
        color: $gray11;
      }
    }
    .check-wifi {
      color: $main500;
      text-align: right;
      font-size: 14px;
      margin-bottom: 10px;
      cursor: pointer;
    }
  }

  .accordion-title {
    display: flex;
    color: $gray11;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    height: 50px;
    font-weight: 500;

    i {
      transition: transform 0.25s;
    }
    &.isActive {
      i {
        transform: rotate(180deg);
      }
    }
  }
}
.celular-rf-signal-quality-reference {
  caption {
  }
  th,
  td {
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    padding: 5px;
  }
  td {
    padding: 5px ​5px 0px;
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      text-align: end;
    }
  }
  thead {
    tr {
      background: $gray2;
      color: $gray8;
    }
  }
  tbody {
    .excellent {
      background: $excellent;
    }
    .good {
      background: $good;
    }
    .fair {
      background: $fair;
    }
    .poor {
      background: $poor;
      color: #fff;
    }
  }
}
.device-operations {
  // .require-msg {
  //   text-align: center;
  //   margin-bottom: 8px;
  // }
  .alert-component {
    &.shadowed {
      border: 1px solid $gray4;
      box-shadow: 0px 0px 10px rgba(11, 16, 24, 0.26);
    }
    .require-start-reboot-time {
      color: $danger500;
    }
  }
  .q-expansion-item {
    &:not(.firmware-upgrade):not(.cellular-firmware-upgrade) {
      .relative-position {
        .alert-component {
          position: absolute;
        }
      }
    }
  }

  .progress-box {
    width: 100%;
    margin-top: 26px;
    margin-bottom: 26px;

    .progress {
      max-width: 500px;
      width: 100%;
      display: flex;
      flex-direction: column;

      &-text {
        margin: 0 auto;
        opacity: 0;
        transition: opacity 0.3s;
        color: $main400;

        &.is-active {
          opacity: 1;
        }
      }

      &-bar {
        background-color: $gray4;
        border-radius: 3px;
        height: 6px;
        position: relative;
        overflow: hidden;
        margin: 10px 20px;
      }

      [data-progress],
      .progress-data {
        background-color: $main400;
        border-radius: 3px;
        height: 100%;
        width: 0%;
        // width: 100px;
        line-height: 30px;
        position: absolute;
      }
    }
  }
}
.q-expansion-item {
  $_temp__1: 10px;
  $_temp__2: 21px;
  .operations-box {
    .list {
      width: 100%;
    }
    .list-l {
      color: $gray7;
    }
    .list-r {
      color: $gray11;
    }

    &-btns {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }

    .list {
      margin-top: 6px;
      margin-bottom: 6px;
    }
    .list-title {
      color: $gray7;
    }
    .custom-select {
      margin-top: 4px;
      margin-bottom: $_temp__2;
    }

    button {
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .msg {
      // display: none;
    }
    .configuration-export__list-title__elem,
    .log-files__list-title__elem {
      color: $gray11;
    }

    .cancel-btn-disable {
      display: none;
      pointer-events: none;
      user-select: none;
    }
  }
  .firmware-upgrade,
  .cellular-firmware-upgrade {
    .alert.alert-component {
      // background: red;
      position: relative;
      z-index: 1;
      margin-left: -170px !important;

      &.shadowed {
        border: 1px solid $gray4;
        border-left-width: 6px;
        box-shadow: 0px 0px 5px rgba(11, 16, 24, 0.26);
      }
      .failType {
        color: $gray11;
      }
    }
  }

  .firmware-upgrade,
  .cellular-firmware-upgrade {
    .custom-select {
      margin-bottom: 4px;
    }
    .require-msg {
      text-align: center;
      color: $main500;
      margin-top: 35px;
      margin-bottom: 35px;
    }
  }
  .reboot,
  .reset,
  .firmware-upgrade {
    .alert {
      .message-text {
        margin-right: unset;
      }
    }
    .msg {
      p {
        margin: 5px 0px;

        &:first-child {
          margin-top: 10px;
        }

        &.success {
          color: $success500;

          i.fal {
            margin-right: 6px;
          }
        }
      }
    }
  }
}

#app .main,
.q-menu,
.popup,
#sidebar {
  &::-webkit-scrollbar,
  *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-track,
  *::-webkit-scrollbar-track {
    // box-shadow: inset 0 0 1px #004150;
    background: $gray2;
    border-radius: 5px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb,
  *::-webkit-scrollbar-thumb {
    width: 4px;
    background: $main300;

    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover,
  *::-webkit-scrollbar-thumb:hover {
    background: $main600;
  }
}

.popup {
  // display: flex;
  position: fixed;
  // align-items: center;
  // justify-content: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 49, 81, 0.5);
  z-index: 100;
  pointer-events: all;
}

.popup-container {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  padding: 0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  .popup-header {
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    flex-shrink: 0;
    .popup-title {
      font-size: 16px;
      font-weight: 500;
    }
    .popup-header-actions {
      display: flex;
      position: relative;
      z-index: 999;
      ul {
        // margin-right: 10px;
        display: flex;
        align-items: center;
        li {
          display: flex;
          align-items: center;
          justify-content: center;

          button {
            width: 30px;
            height: 30px;
            padding: 0;
          }
        }
      }
    }
    .btn-close {
      z-index: 9999;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      width: 40px;
      height: 40px;
      margin-right: -10px;
      margin-left: 10px;
      i {
        color: $gray7;
        font-size: 18px;
      }
    }
  }
  .popup-content {
    padding: 0 30px;
    flex-grow: 1;
    overflow: auto;
  }
  .popup-bottom {
    /*
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 15px;
    border-top: 1px solid #f1f2f3;
    button{
      margin-left: 10px;
    }
   */
  }
}

.popup-title {
  font-size: 12px;
  font-weight: 500;
  line-height: 2;
  color: #63666b;
}
.popup-list-section {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
  // border-bottom: 1px solid #e8e8e8;
  margin-bottom: 10px;
  section {
    margin-bottom: 16px;
  }
}
.popup-section {
  margin-bottom: 16px;
  &.flex {
    justify-content: space-between;
    &.col2 {
      > * {
        width: calc(50% - 10px);
      }
    }
  }
}
.file-upload {
  position: relative;
  margin-top: 10px;
  input[type="file"] {
    height: 32px;
    padding: 0;
    width: 120px;
    opacity: 0;
  }

  .btns {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    font-size: 14px;
    label {
      @extend button;
      margin-right: 10px;
    }
    .btn-upload-file {
    }
  }
}
.drawer {
  .drag-handle {
    cursor: default;
    pointer-events: none;
  }
  .popup-container {
    .popup-header {
      border-bottom: 1px solid $gray3;
      margin-bottom: 8px;
      .btn-close {
        top: 0;
        width: 50px;
        height: 50px;
        margin-right: -30px;
        border-left: 1px solid $gray3;
      }
    }
    .popup-content {
      margin-bottom: 0;
    }
  }
}
#app {
  .main-component {
  }
  .gm-style-iw-d {
    max-height: 150px !important;
    overflow: auto !important;
  }
  .gm-style .gm-style-iw-c {
    padding: 16px 10px 10px 10px !important;
  }
}
.map-component {
  color: #555555;
}
.business-list.nested-lists {
  .list-content-container {
    transition: all 0.25s;
    padding: 0 10px 0 10px;
    cursor: pointer;
    &.no-data {
      cursor: default;
    }
    &:hover:not(.no-data) {
      opacity: 0.75;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.25s;
      pointer-events: none;
    }
    .tree {
      position: absolute;
      left: -20px;
      bottom: 50%;
      width: 20px;
      height: 28px;
      border-bottom: 1px solid #333;
      border-left: 1px solid #333;
      pointer-events: none;
    }
    .list-content-data {
      &:first-child {
        min-width: 0;
      }
      height: 36px;
      line-height: 36px;
      text-align: right;
      margin: 0 10px;
      min-width: 80px;
      // max-width: 240px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      &.title {
        text-align: left;
      }

      &.icon {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        max-width: none;
        margin-left: 0;
        margin-right: 0;
        svg {
          width: 30px;
          * {
            fill: #fff;
          }
        }
        img {
          /*
          border-radius: 28px;
          overflow: hidden;
          border: 1px solid #ffffff;
         */
        }
      }
      &:nth-child(1) {
        text-align: left;
      }
    }
  }
  .active > .list-content-container {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #ffffff !important;
    .icon {
      svg {
        width: 30px;
        * {
          fill: #ffffff !important;
        }
      }
    }
    &::before,
    &::after {
      border: 5px solid #656565;
      border-radius: 15px;
      box-sizing: content-box;
      // pointer-events: none;
    }
    &::after {
      border: 2px solid white;
      border-radius: 12px;
    }
  }
  .siAdmin {
    > .list-content-container {
      border: 2px solid #656565;
      color: #656565;
      &::before {
      }
      .icon {
        svg {
          width: 30px;
          * {
            fill: #656565;
          }
        }
      }
      > .collapse-handle {
        display: none;
      }
    }
    &.active {
      > .list-content-container::before {
        background-color: #656565;
      }
    }
  }
  .si {
    .list-content-container {
      border: 2px solid #9968f2;
      color: #9968f2;
      &::before {
        border-color: #9968f2;
      }
      .icon {
        svg {
          width: 30px;
          * {
            fill: #9968f2;
          }
        }
      }
      .collapse-handle {
        background-color: #9968f2;
      }
    }
    &.active {
      > .list-content-container::before {
        background-color: #9968f2;
      }
    }
    .tree {
      border-color: #9968f2;
    }
  }
  .org {
    > .list-content-container {
      border: 2px solid #3f9eff;
      color: #3f9eff;
      &::before {
        border-color: #3f9eff;
      }
      .icon {
        svg {
          width: 30px;
          * {
            fill: #3f9eff;
          }
        }
      }
      .collapse-handle {
        display: none;
      }
    }
    &.active {
      > .list-content-container::before {
        background-color: #3f9eff;
      }
    }
    .tree {
      border-color: #3f9eff;
    }
  }
}
.pagination-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
}
.table-data {
  width: 100%;
  margin: 20px;
  table {
    width: 100%;
    tr {
      position: relative;
      th,
      td {
        position: relative;
        padding: 0.5em;
        cursor: pointer;
        border: 1px solid #ffffff;
        background-color: #fff;
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          transition: all 0.25s;
          background-color: rgba(0, 0, 0, 0);
        }
      }
      th {
        text-align: left;
        background-color: #00b0d0;
        color: #fff;
      }
      &:nth-child(odd) {
        td {
          background-color: #f3f3f3;
        }
      }
      //tr hover
      &:hover {
        td {
          position: relative;
          // background-color:#eeeeee
          &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background-color: rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }

  .pager {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    li {
      font-size: 12px;
      margin: 0 4px;
      border: 1px solid #00b0d0;
      color: #00b0d0;
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      cursor: pointer;
      &.active {
        background-color: #00b0d0;
        color: #fff;
      }
    }
  }
}
.chart-legend {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 36px;
  li {
    font-size: 13px;
    margin: 0 5px 5px;
    white-space: nowrap;
    span {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 10px;
      background-color: aqua;
    }
  }
}
.sort-arrow {
  position: absolute;
  margin-left: 5px;
  width: 0.5em;
  height: 0.5em;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  transform: rotate(-45deg);
  transition: all 0.25s;
  top: calc(50% - 6px);
  &.ascending {
    transform: rotate(135deg);
    top: calc(50% - 3px);
  }
}
.tags {
  // margin-left: 10px;
  &.single-line {
    ul {
      flex-wrap: nowrap;
    }
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      pointer-events: all;
      margin: 3px 10px 3px 0;
      cursor: pointer;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
.signals {
  @extend .tags;
  ul {
    justify-content: center;
  }
}
strong {
  font-weight: bold;
}
.note {
  font-size: 12px;
  line-height: 1.5;
  color: $gray8;
  &.large {
    font-size: 16px;
    line-height: 1.25;
  }
  &.center {
    text-align: center;
  }
}
.note-block {
  background-color: $main100a;
  color: $main500a;
  font-size: 12px;
  padding: 14px;
  line-height: 1.25;
}
.edit-tags {
  &__title {
    font-size: 12px;
    font-weight: 500;
    line-height: 2;
    color: $gray9;
  }
}
@keyframes rotateClockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.slide-down-enter-active,
.slide-down-leave-active {
  transition: all 0.5s;
}
.slide-down-enter, .slide-down-leave-to /* .fade-leave-active below version 2.1.8 */ {
  transform: translateY(-100%);
  opacity: 0;
}
.slide-left-enter-active,
.slide-left-leave-active {
  transition: all 0.5s;
}
.slide-left-enter, .slide-left-leave-to /* .fade-leave-active below version 2.1.8 */ {
  transform: translateX(100%);
  opacity: 0;
}
