a {
  display: flex;
  align-items: center;
  font-size: inherit;
  color: #3676b3;
  text-decoration: none;
  outline: none;
}
code {
  font-family: Consolas, "courier new";
  color: crimson;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 105%;
}
* {
  line-height: 1.5;
}
h2 {
  font-size: 24px;
}
h3{
  font-size: 18px;
}
main {
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-bottom: 0.5em;
  }
}
strong {
  font-weight: bold;
}
.debug {
  display: block !important;
  color: #46eeff !important;
  div {
    display: flex;
  }
  &-key {
    margin-right: 10px;
  }
}
.color-block {
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #aaa;
}
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  > section {
    margin-bottom: 20px;
  }
}
table {
  tr {
    th,
    td {
      padding: 2px 8px;
      border: 1px solid #dcdcdc;
    }
  }
}
#app .content {
  *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 5px;
  }
  *::-webkit-scrollbar-track {
    // box-shadow: inset 0 0 1px #004150;
    background: $gray2;
    border-radius: 5px;
  }

  /* Handle */
  *::-webkit-scrollbar-thumb {
    width: 4px;
    background: #8abbe8;

    border-radius: 10px;
  }

  /* Handle on hover */
  *::-webkit-scrollbar-thumb:hover {
    background: #6caae2;
  }
}
header {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  border-bottom: 1px solid $gray3;
  padding: 10px 24px;
  background-color: #fff;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .title {
    font-size: 24px;
  }
}
.button {
  outline: none;
  cursor: pointer;
  border: 1px solid $gray4;
  border-radius: 4px;
  color: $gray9;
  background-color: transparent;
  min-height: 32px;
  padding: 5px 20px;
  font-size: 14px;
  line-height: 1.25;
  &.mini {
    padding: 2px 10px;
    min-height: 0;
  }
  &.white {
    color: $gray9;
    &:hover {
    }
  }
  i {
    margin-left: 2px;
    margin-right: 2px;
  }
  &.control {
    color: #ccc;
    border-color: #ccc;
    line-height: 16px;
    padding-left: 6px;
    padding-right: 6px;
  }
  &.icon {
    width: 32px;
    height: 32px;
    font-size: 18px;
    padding: 0;
    color: $main500;
  }
  &.iconed {
    position: relative;
    // color: $main500a;
    width: 40px;
    height: 40px;
    padding: 0;
    margin-bottom: 10px;
    .icon {
      position: absolute;
      font-size: 20px;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      left: 0;
      top: 0;
    }
    &:hover {
    }
    &:active {
      background-color: $main100;
    }
  }
  &.no-border {
    border: none;
  }
  &:hover {
    color: #aaa;
    border-color: #aaa;
  }
  &:active {
    color: #55a4ec;
    border-color: #55a4ec;
  }
  &.flat {
    background-color: #55a4ec;
    color: #ffffff;
    font-size: 15px;
  }
  &.auto {
    width: auto;
  }
  &.full,
  &.full-width {
    width: 100%;
  }
  &:disabled,
  &.disabled {
    border: none;
    user-select: none;
    background-color: $gray1;
    color: $gray4;
    cursor: not-allowed;
  }
  &.colored {
    background-color: $main100;
    color: $main500;
    border-color: $main300;
    &:hover {
      background-color: $main100a;
    }
    &:active {
      background-color: $main300;
    }
    &:disabled,
    &.disabled {
      background-color: $main100;
      color: $main300;
    }
  }
  &.danger {
    background-color: $danger200;
    color: $danger700;
    border-color: $danger300;
    &:hover {
      background-color: $danger100;
    }
    &:active {
      background-color: $danger300;
    }
  }
}
.content {
  line-height: 2;
  letter-spacing: .5px;
  .title {
    font-size: 24px;
    font-weight: bold;    
    margin-bottom: 0.5em;
    // border-bottom: 1px solid #cfcfcf;
  }
  > section {
    margin-bottom: 20px;
    .text{
      width: 480px;
      flex-shrink: 0;
      margin-right: 24px;
    }
  }
}
.starting {
  text-align: left;
  padding: 24px;
  .container{
  }
  .code-section {
    max-width: 100%;
    li{
      letter-spacing: 0;
    }
  }
  .intro-text {
    display: flex;
    align-items: flex-start;
    img {
      margin-right: 20px;
    }
  }
  li {
    // color: #333;
  }
  .code-explaination {
    line-height: 1;
    margin-bottom: 8px;
    ul {
      display: flex;
      li {
        font-size: 12px;
        margin-right: 10px;
        span {
          margin-right: 4px;
        }
        display: flex;
        align-items: center;
      }
    }
  }
  .json {
    height: 480px;
    overflow: auto;
  }
}
p {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
code {
  background-color: transparent;
  color: #ffffff;
}
.code {
  font-family: consolas;
  &.title {
    font-style: italic;
    margin-bottom: 16px;
  }
}
.sidebar {
  position: relative;
  width: 18%;
  min-width: 320px;
  color: #000;
  background-color: #efefef;
  border-right: 1px solid #e7e7e8;
  min-height: calc(100vh - 80px);
  flex-shrink: 0;
  text-align: left;
  padding-left: 20px;
  padding-top: 16px;
  h2 {
    font-size: 18px;
  }
  ul {
    margin-bottom: 1em;
    li {
      font-size: 16px;
      font-family: consolas;
      cursor: pointer;
      line-height: 2;
    }
  }
}
.code-section {
  text-align: left;
  background-color: #505050;
  color: #ffffff;
  padding: 16px;
  border-radius: 5px;
  font-family: consolas;
}
.code-examples {
  width: 100%;
  display: flex;
  text-align: left;
  padding: 16px;
}
.code-key,
.code-var {
  color: #ffffff;
}
.code-string {
  color: #c3c6f3;
  .code-number {
    color: #c3c6f3;
  }
}
.code-parameter {
  color: #ffc000;
  &-dark{
    color: #ffa600;
  }
}
.code-number {
  color: #fff700;
}
.code-function {
  color: #46eeff;
  
}
.code-reserved {
  color: #70ffd7;
}
.code-operator {
  color: #ffa8a8;
}
.code-seperator {
  color: #fff;
}
pre {
  font-size: 13px;
  font-family: "consolas";
}
.popup-tip {
  position: absolute;
  z-index: 99;
  color: #55a4ec;
  background-color: rgba(255, 255, 255, 1);
  padding: 5px 10px;
  border-radius: 5px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.fade-enter-active,
.fade-leave-active {
  transition: all 0.25s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.slide-down-enter-active,
.slide-down-leave-active {
  transition: all 0.25s;
}
.slide-down-enter, .slide-down-leave-to /* .fade-leave-active below version 2.1.8 */ {
  transform: translateY(-100%);
  opacity: 0;
}
